.client-page {
  padding: 2rem;
}

.page-header h1 {
  font-size: larger;
  font-weight: bold;
}

.results-info {
  margin: 10px 0px;

}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: orange;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f8f9fa;
}

.pagination {
  margin-top: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.pagination button {
  padding: 8px 16px;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

button {
  border: none;
  padding: .5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn-delete {
  background: #d32f2f;
  color: white;
  
}

.btn-delete:hover {
  background: #b71c1c;
}

.btn-edit {
  background: orange;
  color: white;
}

.btn-edit:hover {
  background: #ffb74d;
}
