.modal-backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-content {
  width: 800px;
  max-width: 90vw;

  background: white;

  border-radius: 12px;

  padding: 24px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, .25);

  animation: modalOpen .2s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.close-btn {
  background: transparent;
  border: none;

  font-size: 20px;

  cursor: pointer;
}

.close-btn:hover {
  color: #d32f2f;
}

@keyframes modalOpen {
  from {
    opacity: 0;
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.client-number {
  display: flex;
  background: orange;
  color: white;

  padding: 0.75rem 1rem;

  border-radius: 8px;

  font-weight: 600;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.btn-save {
  background: #1976d2;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-cancel {
  background: #e0e0e0;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-save:hover {
  background: #1259a7;
}

.btn-cancel:hover {
  background: #cfcfcf;
}
